footer.footer
  .container-fluid
    nav.pull-left
      ul.nav
        li.nav-item Voucher CekToko
    .copyright.ml-auto
      | v#{process.env.APP_VERSION || '0.0.1'} &copy;2021, made with
      i.fa.fa-heart.heart.text-danger
      |  by
      a(href='https://azuralabs.id') Azura Labs
