title #{title !== nil ? title : 'Restaurants'}

meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
meta(http-equiv='X-UA-Compatible', content='IE=edge')
meta(name='viewport', content='width=device-width, initial-scale=1, user-scalable=no')
meta(name='description', content='CekToko')
meta(name='author', content='CekToko')
meta(name='description', content='CekToko')
meta(name='twitter:card', content='summary')
meta(name='twitter:site', content='http://google.com')
meta(name='twitter:description', content='CekToko')
meta(name='twitter:title', content='CekToko')
meta(name='twitter:image', content='https://lh3.googleusercontent.com/QCgw71KcFDkyif9raDA_gYycipgAfNGW7aXEgLk6G-uAbFl8ZBE5TO8XqizG8m9MIA=s180-rw')

link(rel='icon' href='/assets/images/haitoko.svg')

link(rel='stylesheet', href='/assets/css/plugins/fancybox/jquery.fancybox-1.3.4.css')
link(rel='stylesheet', href='/assets/css/plugins/bootstrap-table/bootstrap-table.min.css')
link(rel='stylesheet', href='/assets/css/plugins/blockui/blockui.min.css')
link(rel='stylesheet', href='/assets/css/plugins/typeahead/typeaheadjs.css')
link(rel='stylesheet', href='/assets/css/plugins/daterangepicker/bootstrap-daterangepicker.min.css')
link(rel='stylesheet', href='/assets/css/bootstrap.min.css')
//- link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css', integrity='sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u', crossorigin='anonymous')

//- link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Gochi+Hand')

link(rel='stylesheet', href='/assets/css/chevron.css')

link(rel='stylesheet', href='/assets/css/atlantis.css')
link(rel='stylesheet', href='/assets/css/app/app.css')
link(rel='stylesheet', href='/assets/css/bootstrap-table.min.css')
link(rel='stylesheet', href='/assets/css/plugins/jquery-ui/jquery-ui.css')
script(src='/assets/js/plugin/webfont/webfont.min.js')


// Core JS Files
script(src='/assets/js/core/jquery.3.2.1.min.js')
script(src='/assets/js/core/popper.min.js')
script(src='/assets/js/core/bootstrap.min.js')
// Axios
script(src='/assets/js/plugin/axios/axios.min.js')
// jQuery UI
//- script(src="https://code.jquery.com/ui/1.12.1/jquery-ui.js")
script(src='/assets/js/plugin/jquery-ui-1.12.1.custom/jquery-ui.min.js')
script(src='/assets/js/plugin/jquery-ui-touch-punch/jquery.ui.touch-punch.min.js')
// jQuery Scrollbar
script(src='/assets/js/plugin/jquery-scrollbar/jquery.scrollbar.min.js')
// Moment JS
script(src='/assets/js/plugin/moment/moment.min.js')
// Chart JS
script(src='/assets/js/plugin/chart.js/chart.min.js')
// Chart JS Plugin Datalabels
//script(src='/assets/js/plugin/chartjs-plugin-datalabels/chartjs-plugin-datalabels.min.js')
// D3 JS
script(src='/assets/js/plugin/d3js/d3-color.v1.min.js')
script(src='/assets/js/plugin/d3js/d3-interpolate.v1.min.js')
script(src='/assets/js/plugin/d3js/d3-scale-chromatic.v1.min.js')
// jQuery Sparkline
//- script(src='/assets/js/plugin/jquery.sparkline/jquery.sparkline.min.js')
// Chart Circle
script(src='/assets/js/plugin/chart-circle/circles.min.js')
// Datatable
script(src='/assets/js/plugin/datatables/datatables.min.js')
// Bootstraptable
script(src='/assets/js/plugin/bootstrap-table/bootstrap-table.min.js')
// Bootstrap Notify
script(src='/assets/js/plugin/bootstrap-notify/bootstrap-notify.min.js')
// Bootstrap Toggle
script(src='/assets/js/plugin/bootstrap-toggle/bootstrap-toggle.min.js')
script(src='/assets/js/plugin/bootstrap-toggle/bootstrap-branch.min.js')
// jQuery Vector Maps
//- script(src='/assets/js/plugin/jqvmap/jquery.vmap.min.js')
//- script(src='/assets/js/plugin/jqvmap/maps/jquery.vmap.world.js')
// Google Maps Plugin
//- script(src='/assets/js/plugin/gmaps/gmaps.js')
// Dropzone
//- script(src='/assets/js/plugin/dropzone/dropzone.min.js')
// Fullcalendar
script(src='/assets/js/plugin/fullcalendar/fullcalendar.min.js')
// DateTimePicker
script(src='/assets/js/plugin/datepicker/bootstrap-datetimepicker.min.js')
// Bootstrap Tagsinput
script(src='/assets/js/plugin/bootstrap-tagsinput/bootstrap-tagsinput.min.js')
// Bootstrap Wizard
//- script(src='/assets/js/plugin/bootstrap-wizard/bootstrapwizard.js')
// jQuery Validation
script(src='/assets/js/plugin/jquery.validate/jquery.validate.min.js')
// Summernote
//- script(src='/assets/js/plugin/summernote/summernote-bs4.min.js')
// Select2
script(src='/assets/js/plugin/select2/select2.full.min.js')
// Sweet Alert
script(src='/assets/js/plugin/sweetalert/sweetalert.min.js')
// Mask
script(src='/assets/js/plugin/mask/jquery.mask.min.js')
// Daterangepicker
script(src='/assets/js/plugin/daterangepicker/daterangepicker.js')
// Block UI
script(src='/assets/js/plugin/blockui/jquery.blockUI.js')
// Owl Carousel
//- script(src='/assets/js/plugin/owl-carousel/owl.carousel.min.js')
// Magnific Popup
script(src='/assets/js/plugin/jquery.magnific-popup/jquery.magnific-popup.min.js')
// Atlantis JS
script(src='/assets/js/atlantis.min.js')
// Typeahead
script(src='/assets/js/plugin/typeahead/typeahead.bundle.js')

script(src='/assets/js/plugin/orgchart/orgchart.js')
script(src='/assets/js/plugin/numeral.min.js')
script(src='/assets/js/plugin/exceljs/exceljs.min.js')

//- script(src='https://cdn.jsdelivr.net/npm/vue@2.6.11')
// Vue Js
//- script(src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.17/vue.js')
script(src='/assets/js/core/vue.js')
//- script(src='/assets/js/plugin/bootstrap-table/bootstrap-table.min.js')
script(src='/assets/js/plugin/bootstrap-table/bootstrap-table-vue.min.js')
script(src='/assets/js/helper.js')
script(src='/assets/js/bundle.js')

script.
  WebFont.load({
    //- google: {"families":["Lato:300,400,700,900"]},
    //- custom: {"families":["Lato:300,400,700,900"], urls: ['/assets/css/lato-fonts.css']},
    custom: {"families":["Lato:300,400,700,900", "Flaticon", "Font Awesome 5 Solid", "Font Awesome 5 Regular", "Font Awesome 5 Brands", "simple-line-icons"], urls: ['/assets/css/fonts.min.css']},
    active: function() {
        sessionStorage.fonts = true;
    }
  });
