nav.navbar.navbar-header.navbar-expand-lg(data-background-color='blue2')
  .container-fluid
    ul.navbar-nav.topbar-nav.ml-md-auto.align-items-center
      li.nav-item.dropdown.hidden-caret
        a.dropdown-toggle.profile-pic(data-toggle='dropdown', href='#', aria-expanded='false')
          .avatar-sm
            img.avatar-img.rounded-circle(src='/assets/img/profile.png', alt='...')
        ul.dropdown-menu.dropdown-user.animated.fadeIn
          .dropdown-user-scroll.scrollbar-outer
            li
              a.dropdown-item(href='/auth/logout') Logout

script.