.sidebar.sidebar-style-2
  .sidebar-wrapper.scrollbar.scrollbar-inner
    .sidebar-content
      ul.nav.nav-primary
        li.nav-item
          a(href="/dashboard" aria-expanded="false")
            i.fas.fa-home
            p Dashboard
        li.nav-item
          a(href="/restaurant" aria-expanded="false")
            i.fas.fa-percentage
            p Restaurant
