mixin appendBtn({name, label, prepend, defaultOld, type, required, placeholder, min})
  .form-group
    label(for=name)=label 
    .input-group
      .input-group-prepend(id=name)
        .input-group-text(id=`labelPrepend${name}`)=prepend
      +input({ name: name, type: type || 'text', requiered: required || false, placeholder: placeholder || '', min: min || '' }, (old ? old : defaultOld))