mixin bigImage({name, label, width, height}, value)
  .form-group
    label=label
    .row.d-flex.align-items-center
      .col-md-12.d-flex.justify-content-center
        .input-file.input-file-image
          img.img-upload-preview.img-rounded(width=width height=height src=`${ (value) ? value : 'http://placehold.it/' + width + 'x' + height }` alt="preview")
          input.form-control.form-control-file(type="file" id=name name=name accept="image/*")
      .col-md-12.text-center
        label.btn.btn-primary.text-white(for=name)
          i.fa.fa-file-image.mr-2
          | Upload an image