mixin imageCircle({name, label, width, height, required}, value)
  .form-group
    label=label
      if required 
        span.text-danger *
    .row.d-flex.align-items-center
      .col-md-2.text-center
        .input-file.input-file-image.text-center
          img.img-upload-preview.img-circle(width=width height=height src=`${ (value) ? value : 'http://placehold.it/' + width + 'x' + height }` alt="preview")
          input.form-control.form-control-file(type="file" id=name name=name accept="image/*")
      .col-md-3
        label.btn.btn-primary.btn-round.text-white(for=name)
          i.fa.fa-file-image.mr-2
          | Upload an image