mixin select2Group({ name, label, description, placeholder, options, vmodel, required }, value)
  .form-group
    label(for=name)=label 
      if required 
        span.text-danger *
    select.form-control.select2(name=name, id=name, v-model=vmodel)
      if options
        each option in options
          option(value=option.id selected=(option.id == id))=(option.text || option.value)