mixin textarea({ name, label, placeholder, vmodel, type, required, disabled, hidden, readonly }, value)
  .form-group
    if (!hidden)
      label(for=name)=label
        if required 
          span.text-danger *
    textarea.form-control(
      name=name
      type=type || 'text'
      v-model=vmodel
      readonly=readonly
      required = required ? true : false
      disabled = disabled ? true : false
      hidden = hidden ? true : false
      placeholder=`${placeholder ? placeholder : label}`
    )=`${value ? (typeof value === 'string' || typeof value === 'number' ? value : (value[name] || '')) : ''}`