extends layouts/main

block content
  div(id="dashboard")
    .panel-header.bg-primary-gradient
      .page-inner.py-5
        .d-flex.align-items-left.align-items-md-center.flex-column.flex-md-row
          div
            h2.text-white.pb-2.fw-bold Dashboard
    .page-inner.mt--5
      .row
        .col-sm-6.col-lg-3
          .card.p-3
            .d-flex.align-items-center
              span.stamp.stamp-md.bg-warning.mr-3
                i.fas.fa-ticket-alt
              div 
                h5
                  b=`${data} Restaurant` 
                small.text-muted=`Per ${lastUpdate}`

block scripts
  script.
    const dashboard = new Vue({
      el: "#dashboard",
    })
