extends layouts/login

block content
  .wrapper.wrapper-login(style=`background-image: url('/assets/img/bg-hris.png')`)
    .container.container-login

      br
      form(action='/auth/login' method='POST')
        input(type='hidden', name='_csrf', value=_csrf)
        .login-form
          //- .form-group.form-floating-label
            select.form-control.input-border-bottom#selectFloatingLabel(name='branch')
              option(value='semarang') Semarang
              option(value='banjarbaru') Banjarbaru
          .form-group.form-floating-label
            input.form-control.input-border-bottom(required=true name='username' type='text')
            label.placeholder(for='username') Username
          .form-group.form-floating-label
            input.form-control.input-border-bottom(required=true name='password' type='password')
            label.placeholder(for='password') Password
            .show-password
              i.icon-eye
          .msg.text-danger.text-center.mb-3
            for error in errors
              div=error
          .form-action.mb-3
            button.btn.btn-primary.btn-rounded.btn-login(type='submit') Login

      h6.text-center=`version ${process.env.APP_VERSION || '0.1.0'}`

block scripts
  script(src='/assets/js/core/jquery.3.2.1.min.js')
  script(src='/assets/js/plugin/jquery-ui-1.12.1.custom/jquery-ui.min.js')
  script(src='/assets/js/core/popper.min.js')
  script(src='/assets/js/core/bootstrap.min.js')
  script(src='/assets/js/atlantis.min.js')
