extends ../../../layouts/main
include ../../../mixins/forms/select
include ../../../mixins/forms/selectGroup
include ../../../mixins/forms/input
include ../../../mixins/forms/inputGroup
include ../../../mixins/forms/appendBtn
include ../../../mixins/forms/bigImage
include ../../../mixins/forms/textarea


block content
  .page-inner
    .page-header
      h4.page-title Admin
      ul.breadcrumbs
        li.nav-home
          a(href='/')
            i.flaticon-home
          li.separator
            i.flaticon-right-arrow
        li.nav-home
          a(href="/admin") Admin
          li.separator
            i.flaticon-right-arrow 
        li.nav-home
          a(href='#') Tambah Admin
    .card
      .card-header
        h4 Form User
      .card-body
        form(method='post')
          input(type='hidden', name='_csrf', value=_csrf)
          input(type='hidden', name='isActive', value="1")
          input(type='hidden', name='userId', value="0")
          +inputGroup({
            name: 'username',
            label: 'Username',
            required: true,
            placeholder:'Username'
          }, old ? old.username : '')
          +inputGroup({
            name: 'fullname',
            label: 'Fullname',
            required: true,
            placeholder:'Fullname'
          }, old ? old.fullname : '')
          +inputGroup({
            name: 'password',
            label: 'Password',
            required: true,
            placeholder:'Password',
            type: 'password'
          },)
          
          
          .separator-solid
            .form-group
              .btn-group
                  button.btn.btn-warning(type='reset') Reset
                  button.btn.btn-primary(type='submit') Submit