extends ../../../layouts/main
include ../../../mixins/forms/select
include ../../../mixins/forms/selectGroup
include ../../../mixins/forms/input
include ../../../mixins/forms/inputGroup
include ../../../mixins/forms/appendBtn
include ../../../mixins/forms/bigImage
include ../../../mixins/forms/textarea

block content
  .page-inner
    .page-header
      h4.page-title Admin
      ul.breadcrumbs
        li.nav-home
          a(href='/')
            i.flaticon-home
          li.separator
            i.flaticon-right-arrow
        li.nav-home
          a(href="/user") Admin
          li.separator
            i.flaticon-right-arrow 
        li.nav-home
          a(href='#') Perbaharui Data Admin
    .card
      .card-header
        .float-right.text-white.px-4.ml-3
          form(action="../switch-active", method='POST')
            input(type="hidden", value=_csrf name='_csrf')
            input(type="hidden", value=`${data.id}` name="id")
            input(type="hidden", value=`${(data.isActive == 1) ? 0 : 1}` name="isActive")
            button(class=`btn ${(data.isActive == 1) ? 'btn-warning' : 'btn-success'}`)=`${(data.isActive == 1) ? 'Nonaktifkan Admin' : 'Aktifkan Admin'}`
        h4 Form Data Admin
      .card-body
        form(action='../update' method='post')
          input(type='hidden', name='_csrf', value=_csrf)
          input(type='hidden', name='id', value=`${data.id}`)
          input(type='hidden', name='isActive', value="1")
          +inputGroup({
            name: 'username',
            label: 'Username',
            required: true,
            placeholder:'Username'
          }, old ? old.username : data.username)
          +inputGroup({
            name: 'fullname',
            label: 'Fullname',
            required: true,
            placeholder:'Fullname'
          }, old ? old.fullname : data.fullname)
          +inputGroup({
            name: 'password',
            label: 'Password',
            type: 'password',
            placeholder:'Password'
          }, )
          +inputGroup({
            name: 'confirmPassword',
            label: 'Konfirmasi Password',
            type: 'password',
            placeholder:'Tuliskan ulang password',
            validationMessage: 'Password tidak sama'
          }, )
          
          .separator-solid
            .form-group
              .btn-group
                  button.btn.btn-warning(type='reset') Reset
                  button#btn-submit.btn.btn-primary(type='submit') Submit

//- block scripts
//-   script.
//-     var new_pass = document.getElementById("password"); //password input
//-     var conf_pass = document.getElementById("password_new"); //pass confirmation
//-     var submitButton = document.getElementById("submit"); //submit button
//-     conf_pass.onkeyup = function() {
//-     // Validate lowercase letters
//-     if(new_pass.value.match(conf_pass.value)) {
//-       $("password_new").removeClass('d-none');
//-       $("password_new").addClass('has-error');
//-     } else {
//-       $("password_new").addClass('d-none');
//-       $("password_new").removeClass('has-error');
//-     }