extends ../../../layouts/main

block content
  .page-inner
    .page-header
      h4.page-title Admin
      ul.breadcrumbs
        li.nav-home
          a(href='/')
            i.flaticon-home
          li.separator
            i.flaticon-right-arrow
        li.nav-home
          a(href='/user') Admin
  .page-inner.mt--5
    .card 
      .card-header
        .card-title List Admin
          a.float-right.btn.btn-primary.text-white.px-4.ml-3(href='./user/create')
            i.fas.fa-plus.mr-3
            | Tambah Admin
      #toolbar 
        .row
          .col-3
            .form-group.input-group
              input#search.form-control(name='search', type='text', placeholder='Cari kata kunci atau nama')
              .input-group-append
                button.btn.btn-primary(onclick='user.searchBtn()')
                  i.fas.fa-search
      .card-body
        #table-user
          bootstrap-table(ref="table", :columns="columns", :options="options")


block scripts
  script.
    let user  = new Vue({
      el: "#table-user",
      components: {
        'bootstrap-table': BootstrapTable
      },
      data() {
        return {
          searchData: '',
          layananData: '',
        }
      },
      computed: {
        columns() {
          return [
            {
              title: 'No',
              field: 'id',
              width: '10',
              align: 'center',
              formatter: (e, val, index) => {
                return user.formatNumbering(index)
              }
            },
            {
              title: 'Username',
              field: 'username',
              sortable: true
            },
            {
              title: 'Tipe Admin',
              field: '',
              sortable: true,
            },
            {
              title: 'Status',
              field: 'isActive',
              sortable: false,
              align: 'center',
              formatter: (e, val) => {
                return `${(val.isActive == 1) ? "<span class='badge badge-success'>Aktif</span>" : "<span class='badge badge-danger'>Nonaktif</span>"}`
              }
            },
            {
              field: 'id',
              title: '<i class="fas fa-cube"></i>',
              sortable: false,
              align: 'center',
              width: '50px',
              formatter: (e, val) => {
                return `<form action="./user/delete" method="POST" id="deleteForm${val.id}"><input type='hidden' name='_csrf' value='#{_csrf}'><input type='hidden' name='id' value='${val.id}'></form>
                <div class='btn btn-group'>
                  <a href='./user/${val.id}/edit' class='btn btn-sm btn-warning'><i class='fas fa-edit'></i></a>
                  <button onclick='user.showAlertDelete(deleteForm${val.id})' class='btn btn-sm btn-danger'><i class='fas fa-trash'></i></button>
                </div>`
              }
            }
          ]
        },
        options() {
          return {
            pagination: true,
            sidePagination: 'server',
            url: `./user/json?search=${this.searchData}`, 
            pageList: [5,10,25],
            toolbar: '#toolbar',
            toolbarAlign: 'center',
          }
        },
      },
      methods: {
        formatNumbering(index) {
          const tableOptions = this.$refs.table.getOptions()
          return index + ((tableOptions.pageNumber - 1) * tableOptions.pageSize) + 1
        },
        showAlertDelete(id) {
          console.log("id")
          swal({
            title: 'Apakah anda yakin menghapus user ini?',
            icon: 'warning',
            buttons:{
              cancel: {
                visible: true,
                className: 'btn btn-default'
              },
              confirm: {
                text : 'Hapus data',
                className : 'btn btn-danger'
              }
            }
          }).then((Delete) => {
              if (Delete) {
                $(id).submit()
              } else {
                swal.close();
              }
          })
        },
        refreshData: function (event) {
          this.layananData = $('#layanan').val()
          this.searchData = $('#search').val()
          this.$refs.table.refresh()
        },
        searchBtn: function (event) {
          this.searchData = $('#search').val()
          this.layananData = ''
          this.categoryData = ''
          this.$refs.table.refresh()
        }
      },
      async created() {
        this.layananData = $('#layanan').val()
      }
    })