extends ../../../layouts/main
include ../../../mixins/forms/select
include ../../../mixins/forms/selectGroup
include ../../../mixins/forms/input
include ../../../mixins/forms/inputGroup
include ../../../mixins/forms/appendBtn
include ../../../mixins/forms/bigImage
include ../../../mixins/forms/textarea

block content
  .page-inner
    .page-header
      h4.page-title Restaurant
      ul.breadcrumbs
        li.nav-home
          a(href='/')
            i.flaticon-home
          li.separator
            i.flaticon-right-arrow
        li.nav-home
          a(href="/restaurant") Restaurant
          li.separator
            i.flaticon-right-arrow 
        li.nav-home
          a(href='#') Tambah Restaurant
    .card
      .card-header
        h4 Form Restaurant
      .card-body
        form(action='./store' method='post')
          input(type='hidden', name='_csrf', value=_csrf)
          input(type='hidden', name='isActive', value="1")
          +inputGroup({
            name: 'name',
            label: 'Nama Restaurant',
            required: true,
            placeholder:'Nama Restaurant'
          }, old ? old.name : '')
          +textarea({
            name: 'description',
            label: 'Deskripsi Restaurant',
            required: true,
            placeholder:' Deskripsi restaurant'
          }, old ? old.description : '')
          +textarea({
            name: 'schedule',
            label: 'Jadwal Buka Restaurant',
            required: true,
            placeholder:' Jadwal Buka Restaurant'
          }, old ? old.schedule : '')
          .separator-solid
            .form-group
              .btn-group
                  button.btn.btn-warning(type='reset') Reset
                  button.btn.btn-primary(type='submit') Submit