extends ../../../layouts/main

block content
  .page-inner
    .page-header
      h4.page-title Restaurant
      ul.breadcrumbs
        li.nav-home
          a(href='/')
            i.flaticon-home
          li.separator
            i.flaticon-right-arrow
        li.nav-home
          a(href='/restaurant') Restaurant
  .page-inner.mt--5
    .card 
      .card-header
        .card-title List Restaurant
          a.float-right.btn.btn-primary.text-white.px-4.ml-3(href='./restaurant/create')
            i.fas.fa-plus.mr-3
            | Tambah Restaurant
      #toolbar 
        .row
          .col-3
            .form-group.input-group
              input#search.form-control(name='search', type='text', placeholder='Cari kata kunci atau kode')
              .input-group-append
                button.btn.btn-primary(onclick='restaurant.searchBtn()')
                  i.fas.fa-search
      .card-body
        #table-restaurant
          bootstrap-table(ref="table", :columns="columns", :options="options")

block scripts
  script.
    let restaurant = new Vue({
      el: "#table-restaurant",
      components: {
        'bootstrap-table': BootstrapTable
      },
      data() {
        return {
          searchData: '',
        }
      },
      computed: {
        columns() {
          return [
            {
              title: 'No',
              field: 'id',
              width: '10',
              align: 'center',
              formatter: (e, val, index) => {
                return restaurant.formatNumbering(index)
              }
            },
            {
              title: 'Nama Restaurant',
              field: 'name',
              sortable: true
            },
            {
              title: 'Deskripsi',
              field: 'description',
              sortable: true,
            },
            {
              title: 'Jadwal Buka Restaurant',
              field: 'schedule',
              sortable: true,
              align: 'center',
              
            },
            {
              field: 'id',
              title: '<i class="fas fa-cube"></i>',
              sortable: false,
              align: 'center',
              width: '50px',
              formatter: (e, val) => {
                return `<form action="./restaurant/delete" method="POST" id="deleteForm${val.id}"><input type='hidden' name='_csrf' value='#{_csrf}'><input type='hidden' name='id' value='${val.id}'></form>
                <div class='btn btn-group'>
                  <a href='./restaurant/${val.id}/show' class='btn btn-sm btn-primary'><i class='fas fa-search'></i></a>
                  <a href='./restaurant/${val.id}/edit' class='btn btn-sm btn-warning'><i class='fas fa-edit'></i></a>
                  <button onclick='restaurant.showAlertDelete(deleteForm${val.id})' class='btn btn-sm btn-danger'><i class='fas fa-trash'></i></button>
                </div>`
              }
            }
          ]
        },
        options() {
          return {
            pagination: true,
            sidePagination: 'server',
            url: `./restaurant/json?search=${this.searchData}`, 
            pageList: [5,10,25],
            toolbar: '#toolbar',
            toolbarAlign: 'center',
          }
        },
      },
      methods: {
        formatNumbering(index) {
          const tableOptions = this.$refs.table.getOptions()
          return index + ((tableOptions.pageNumber - 1) * tableOptions.pageSize) + 1
        },
        showAlertDelete(id) {
          swal({
            title: 'Apakah anda yakin menghapus restaurant ini?',
            icon: 'warning',
            buttons:{
              cancel: {
                visible: true,
                className: 'btn btn-default'
              },
              confirm: {
                text : 'Hapus data',
                className : 'btn btn-danger'
              }
            }
          }).then((Delete) => {
              if (Delete) {
                $(id).submit()
              } else {
                swal.close();
              }
          })
        },
        refreshData: function (event) {
          this.layananData = $('#layanan').val()
          this.searchData = $('#search').val()
          this.$refs.table.refresh()
        },
        searchBtn: function (event) {
          this.searchData = $('#search').val()
          this.layananData = ''
          this.categoryData = ''
          this.$refs.table.refresh()
        }
      },
      async created() {
        this.layananData = $('#layanan').val()
      }
    })
