extends ../../../layouts/main

block content
  .page-inner
    .page-header
      h4.page-title Restaurant
      ul.breadcrumbs
        li.nav-home
          a(href='/')
            i.flaticon-home
          li.separator
            i.flaticon-right-arrow
        li.nav-home
          a(href='/restaurant') Restaurant
          li.separator
            i.flaticon-right-arrow
        li.nav-home
          a(href=`/restaurant/${data.id}/show`)=`${data.name}`
  .page-inner.mt--5
    .row
      .col-12
        .card 
          .card-body
            .row
              .col-12.col-md-4
                h4(style="font-weight: bold")=`${data.name}`
                p=`${data.description}`
                p=`${data.schedule}`
block scripts
  script.
    let voucher = new Vue({
      el: "#table-voucher",
      components: {
        'bootstrap-table': BootstrapTable
      },
      data() {
        return {
          searchData: '',
          layananData: '',
          campaignId: '',
        }
      },
      computed: {
        columns() {
          return [
            {
              title: 'No',
              field: 'id',
              width: '10',
              align: 'center',
              formatter: (e, val, index) => {
                return voucher.formatNumbering(index)
              }
            },
            {
              title: 'Kode Voucher',
              field: 'code',
              sortable: true
            },
            {
              title: 'Potongan',
              field: 'discountOff',
              sortable: true,
              align: 'right',
              formatter: (e, row) => {
                if (row.discountType === 'AMOUNT') {
                  return `Rp${numberFormat(row.discountOff)}`
                } else {
                  return `${numberFormat(row.discountOff)}%`
                }
              },
            },
            {
              title: 'Layanan',
              field: 'category',
              sortable: true,
              formatter: (e, row) => {
                return `${(row.category === 'SEMUA') ? 'Semua Layanan' : row.category}`
              },
            },
            {
              title: 'Qty',
              field: 'qty',
              sortable: true,
              align: 'center'
            },
            {
              title: 'Periode',
              field: 'type',
              sortable: true,
              align: 'center',
              formatter: (e, val) => {
                if (val.startDate != null && val.expDate != null) { return `${moment(val.startDate).format('DD-MM-Y')} s.d ${moment(val.expDate).format('DD-MM-Y')}` }
                if (val.startDate == null && val.expDate == null) { return `Tidak ada periode khusus` }
                if (val.expDate != null) { return `Hingga ${moment(val.expDate).format('DD-MM-Y')}` }
                if (val.startDate != null) { return `Dimulai dari ${moment(val.startDate).format('DD-MM-Y')}` }
              }
            },
            {
              title: 'Status',
              field: 'isActive',
              sortable: false,
              align: 'center',
              formatter: (e, val) => {
                return `${(val.isActive == 1) ? "<span class='badge badge-success'>Aktif</span>" : "<span class='badge badge-danger'>Nonaktif</span>"}`
              }
            },
            {
              field: 'id',
              title: '<i class="fas fa-cube"></i>',
              sortable: false,
              align: 'center',
              width: '50px',
              formatter: (e, val) => {
                return `<form action="../../voucher/delete" method="POST" id="deleteForm${val.id}"><input type='hidden' name='_csrf' value='#{_csrf}'><input type='hidden' name='id' value='${val.id}'></form>
                <div class='btn btn-group'>
                  <a href='../../voucher/${val.id}/show' class='btn btn-sm btn-primary'><i class='fas fa-search'></i></a>
                  <a href='../../voucher/${val.id}/edit' class='btn btn-sm btn-warning'><i class='fas fa-edit'></i></a>
                  <button onclick='voucher.showAlertDelete(deleteForm${val.id})' class='btn btn-sm btn-danger'><i class='fas fa-trash'></i></button>
                </div>`
              }
            }
          ]
        },
        options() {
          return {
            pagination: true,
            sidePagination: 'server',
            url: `../../voucher/json?search=${this.searchData}&layanan=${this.layananData}&campaignId=${this.campaignId}`, 
            pageList: [5,10,25],
            toolbar: '#toolbar',
            toolbarAlign: 'center',
          }
        },
      },
      methods: {
        formatNumbering(index) {
          const tableOptions = this.$refs.table.getOptions()
          return index + ((tableOptions.pageNumber - 1) * tableOptions.pageSize) + 1
        },
        showAlertDelete(id) {
          swal({
            title: 'Apakah anda yakin menghapus voucher ini?',
            icon: 'warning',
            buttons:{
              cancel: {
                visible: true,
                className: 'btn btn-default'
              },
              confirm: {
                text : 'Hapus data',
                className : 'btn btn-danger'
              }
            }
          }).then((Delete) => {
              if (Delete) {
                $(id).submit()
              } else {
                swal.close();
              }
          })
        },
        refreshData: function (event) {
          this.layananData = $('#layanan').val()
          this.searchData = $('#search').val()
          this.$refs.table.refresh()
        },
        searchBtn: function (event) {
          this.searchData = $('#search').val()
          this.layananData = ''
          this.categoryData = ''
          this.$refs.table.refresh()
        }
      },
      async created() {
        this.campaignId = $('#campaignId').val()
      }
    })

  script.
    let redemptionsCalculation = new Vue({
      el: "#table-redemptionsCalculation",
      components: {
        'bootstrap-table': BootstrapTable
      },
      data() {
        return {
          searchDataRecap: '',
          campaignIdRecap: '',
        }
      },
      computed: {
        columns() {
          return [
            {
              title: 'No',
              field: 'id',
              width: '10',
              align: 'center',
              formatter: (e, val, index) => {
                return redemptionsCalculation.formatNumbering(index)
              }
            },
            {
              title: 'Nama Merchant',
              field: 'merchantName',
              sortable: true
            },
            {
              title: 'Kode Voucher',
              field: 'code',
              sortable: true
            },
            {
              title: 'Potongan per voucher',
              field: 'discountOff',
              sortable: true,
              align: 'right',
              formatter: (e, row) => {
                if (row.discountType === 'AMOUNT') {
                  return `Rp${numberFormat(row.discountOff)}`
                } else {
                  return `${numberFormat(row.discountOff)}%`
                }
              },
            },
            {
              title: 'Total Redeem Sukses',
              field: 'totalRedeem',
              sortable: true,
              align: 'right'
            },
            {
              title: 'Total Potongan',
              field: 'totalRedeem',
              sortable: true,
              align: 'right',
              formatter: (e, row) => {
                if (row.discountType === 'AMOUNT') {
                  return `Rp${numberFormat(row.discountOff * row.totalRedeem)}`
                } else {
                  return `Bergantung pada total transaksi`
                }
              },
            },
          ]
        },
        options() {
          return {
            pagination: true,
            sidePagination: 'server',
            url: `../../campaign/redemption/calculation?search=${this.searchDataRecap}&campaignId=${this.campaignIdRecap}`, 
            pageList: [5,10,25],
            toolbar: '#toolbarRecap',
            toolbarAlign: 'center',
          }
        },
      },
      methods: {
        formatNumbering(index) {
          const tableOptions = this.$refs.table.getOptions()
          return index + ((tableOptions.pageNumber - 1) * tableOptions.pageSize) + 1
        },
        refreshData: function (event) {
          this.campaignIdRecap = $('#campaignIdRecap').val()
          this.searchDataRecap = $('#searchRecap').val()
          this.$refs.table.refresh()
        },
        searchBtn: function (event) {
          this.searchDataRecap = $('#searchRecap').val()
          this.$refs.table.refresh()
        },

      },
      async created() {
        this.campaignIdRecap = $('#campaignIdRecap').val()
        this.searchDataRecap = $('#searchRecap').val()
      }
    })

